@import "./variables.scss";
@import "./_functions.scss";


/* 单行省略号 */
@mixin singleText(){
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}



@mixin nth($num){
  &:nth-of-type(#{$num}){
    @content;
  }
}


/* 多行 */
@mixin mutilText($num){
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:$num;
}

/* 解决移动端控件字体颜色的问题 */
@mixin inputColor($color){
  color: $color;
  -webkit-text-fill-color: $color;
}