@import './_mixin.scss';
.list {
  .content {
    background: #fff;
    .top-bar {
      display: flex;
      background: #fff;
      padding: 0 $offset;
      &.fixed-top {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
      
        box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      li {
        flex: 1;
        text-align: center;
        padding: $offset 0;
        font-size: fontSize(26);
        border-bottom: 1px solid #fff;
        color: fontColor(gray);
        &.active {
          color: color(orange);
          border-color: color(orange);
        }
      }
    }
  }
}
